<html>
<h1>Hello {{user}}</h1>
<p>Welcome to <strong>Hal Qaran</strong>, we are happy that you joined the effort to save your nation.</p>
<p>Please click the link below to complete the registration proccess.</p>
<p>Link: <strong><a href='{{link}}'>{{link}}</a></strong></p>

<hr/>
<p>Thanks for joining</p>

<h1>Haye {{user}}</h1>
<p>Kusoo dhawoow <strong>Hal Qaran</strong>, waan ku faraxsannahay inaad kamid noqoto ololaha badbaadinta dalkaaga.</p>
<p>Fadlan adeegso mareegta hoos ku taala si aad u dhameystirto diiwaanlintaada oo gabagabo ku dhow marka.</p>
<p>Mareegta: <strong><a href="{{link}}">{{link}}</a></strong></p>
<hr/>
<p>Waad Ku Mahadsantahay in aad codkaaga nagu soo biiriso</p>
</html>
