<html>
<h1>Hello {{user}}</h1>
<p>Welcome to <strong>Hal Qaran</strong>, we are sorry that you forgot your password.</p>
<p>but don't worry we have your back. below is the link to reset your password.</p>
<p>Link: <strong><a href='{{link}}'>{{link}}</a></strong></p>

<hr/>
<p>Thanks for supporting</p>

<h1>Haye {{user}}</h1>
<p>Kusoo dhawoow <strong>Hal Qaran</strong>, waan ka xunnahay inaad ilowdo ereysireedkaaga.</p>
<p>Balse ha walwalin anagaa halkan kuu joogna, waxaan hoos kuugu soo dirnay mareegta (link) aad ku cusbooneysiisan laheyd ereysireedkaaga.</p>
<p>Mareegta: <strong><a href="{{link}}">{{link}}</a></strong></p>
<hr/>
<p>Waad Ku Mahadsantahay in aad nala jirto</p>
</html>
