{% extends 'campaign/layout.html' %}
{% load markdown_deux_tags %}
{% block content %}
  <div class="row">
    <div id="main-content"><!-- background not working -->
      <div id="column-one" class="col-md-12">
        <div class="box wrap-vid">
	  <br/>
          <h1>{% if request.session.language == "so" %}BOGGAN WAA LA WAAYAY (404) {% else %}PAGE NOT FOUND (404){% endif %}</h1>
          <p>{% if request.session.language == "so" %}
		Waan ka xunnahay, bogga aad codsatay waa la waayay. Fadlan iska hubi url-ka in uu saxan yahay ee markale tijaabi.
	     {% else %}
		Sorry, we didn't find the page you requested. Please make sure the url to the page is correct and try again.
	     {% endif %}
	  </p>
        </div>
      </div>
    </div>
  </div>
<script>
  comment_url = "/comment/{{post.pk}}"
</script>
{% endblock %}
