{% extends 'campaign/layout.html' %}
{% block content %}
  <div class="row">
    <div id="main-content"><!-- background not working -->
      <div id="column-one" class="col-md-12">
        <div class="box wrap-vid column-1">
          <h1>{{pageheader}}</h1>
          <br/>
          <div class="post-detail">
            <h5>Emails:</h5>
            <ul>
              {% for email in contacts.emails %}
                <li><a href="mailto:{{email}}">{{email}}</a></li>
              {% endfor %}
            </ul>
            <h5>Social Media:</h5>
            <strong>facebook</strong>
            <ul>
              {% for item in contacts.facebookPages %}
                <li><a href="{{item}}">{{item}}</a></li>
              {% endfor %}
            </ul>
            <strong>twitter</strong>
            <ul>
              {% for item in contacts.twitter%}
                <li><a href="{{item}}">{{item}}</a></li>
              {% endfor %}
            </ul>
            <strong>youtube</strong>
            <ul>
              {% for item in contacts.youtubeChannels %}
                <li><a href="{{item}}">{{item}}</a></li>
              {% endfor %}
            </ul>
            <h5>Phones:</h5>
            <ul>
              {% for item in contacts.phones %}
                <li><a href="tel:{{item}}">{{item}}</a></li>
              {% endfor %}
            </ul>
            <h5>Websites:</h5>
            <ul>
              {% for item in contacts.websites %}
                <li><a href="{{item}}">{{item}}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>
{% endblock %}
