{% extends 'campaign/layout.html' %}
{% load markdown_deux_tags %}
{% block content %}
  <div class="row">
    <div id="main-content"><!-- background not working -->
      <div id="column-one" class="col-md-12">
        <div class="box wrap-vid column-1">
          {% if post %}
          <div class="post-detail">
            <div class="row controls-holder">
              <div class='col-sm-9'>
                <h5 class="indent-from-left2">{{post.title}}</h5>
                <br/>
                <p>
                  <i class="fa fa-pencil"></i> <strong>{{post.author}}</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                  <i class="fa fa-clock-o"></i> <strong>{{post.published_date}}</strong> &nbsp;&nbsp;&nbsp;&nbsp;
		  <i class="fa fa-eye"></i> <strong>{{post.view_counter}}</strong>
                </p>
              </div>
              <div class="col-sm-3" style="margin-top:-3em;">
<!--
                {% if user.is_authenticated and user.is_active %}
                <button id="btn-like-post-{{post.pk}}" onclick="likePost({{post.pk}}, 'post')" class="btn btn-default btn-block like"> <i class="glyphicon glyphicon-thumbs-up blue-text"></i> like</button><button id="btn-like-post-{{post.pk}}" class="btn btn-default btn-block dislike" onclick="dislike('{{post.pk}}', 'post')"> <i class="glyphicon glyphicon glyphicon-thumbs-down red-text"></i> dislike</button>
                <strong><span id="post-{{post.pk}}-likes-counter">{{post.likes}}</span></strong> {% if request.session.language == "so" %}aqriste ayaa ka heshay{% else %}reader(s) liked this{% endif %}.
                {% else %}
                {% if request.session.language == "so" %}<span class="text text-danger">Cinwaankaaga gal si aad u muujiso inaad kaheshay.</span>{% else %}<span class="text text-danger">Sign in to like</span>{% endif %}
                {% endif %}
-->
                <img src="{{post.featured_image.photo.url}}" style="width:100%;"/>
              </div>
            </div>

            {% if post.video %}
              <iframe class="post-video" width="640" height="360" src="https://www.youtube.com/embed/{{post.video.videoId}}" frameborder="0" allowfullscreen></iframe>
            {% endif %}


            {% markdown %}{{post.content}}{% endmarkdown %}
            <hr/>
          </div>
          <h5 class="head-title">Comments</h5>
            {% if post_comments %}
            <ul class="list-unstyled comments" id="comments">
            {% for comment in post_comments %}
                <li class="comment">
                  <div class="row">
                    <div class='col-sm-10'>
                      <strong>{{comment.user}}</strong> <em>said</em>: {% markdown %}{{comment.text}}{% endmarkdown %}{{comment.date}},
                      <strong><span id="comment-{{comment.pk}}-likes-counter">{{comment.likes}}</span></strong> {% if request.session.language == "so" %}aqriste ayaa kahelay{% else %}reader(s) liked this{% endif %}.
                    </div>
                    <div class="col-sm-2 controls-holder">
                      <button id="btn-like-comment-{{comment.pk}}" class="btn btn-default btn-block like" onclick="likePost({{comment.pk}}, 'comment')"> <i class="glyphicon glyphicon glyphicon-thumbs-up blue-text"></i> like</button><button id="btn-like-comment-{{comment.pk}}" class="btn btn-default btn-block dislike" onclick="dislike('{{comment.pk}}', 'comment')"> <i class="glyphicon glyphicon glyphicon-thumbs-down red-text"></i> dislike</button>
                    </div>

                </li>
            {% endfor %}
                <li id="lastcomment">
                  {% if user.is_authenticated and user.is_active %}
                  <form	method="POST"	class="form commentform" id="commentform">{%	csrf_token	%}
                						{{	form.as_p	}}
                            <button	type="submit"	class="btn btn-default">{% if request.session.language == "so" %}Qoraaga:{% else %}Author:{% endif %}Comment</button>
                	</form>
                  {% else %}
                  <strong>Please login to be able to post comment</strong>
                  {% endif %}
                </li>
            </ul>
            {% else %}
            <ul class="list-unstyled comments" id="comments">
              <li class='hidden'>This is hidden item</li>
            </ul>
              {% if user.is_authenticated %}
                <form	method="POST"	class="form commentform" id="commentform">{%	csrf_token	%}
                          {{	form.as_p	}}
                          <button	type="submit"	class="btn btn-default">Comment</button>
                </form>
              {% else %}
              <strong>Please login to be able to post comment</strong>
              {% endif %}

              </li>

            {% endif %}
          {% else %}

          <div class="post-detail">
            <h1>Sorry! Content is not available.</h1>
          </div>

          {% endif %}
        </div>

      </div>
    </div>
  </div>
<script>
  comment_url = "/comment/{{post.pk}}"
</script>
{% endblock %}
