{% extends 'campaign/layout.html' %}
{% block content %}
<div id="page-content" class="index-page container">
  <div class="row">
    <div id="main-content"><!-- background not working -->
      <div id="column-one" class="col-md-9">
        <div class="box wrap-vid shadowed">
          <div class="post-detail">
            <h1>{{post.title}}</h1>
            <p>By: <strong>{{post.author}}</strong> in <strong>{{post.date}}</strong> |  <button onclick="likePost('{{post.pk}}', 'post')" class="btn btn-default like"> <i class="glyphicon glyphicon-heart"></i> like</button> <strong><span id="post-{{post.pk}}-likes-counter">{{post.likes}}</span></strong> people liked this.</p>
<!--
            {% if post.video %}
              <iframe class="post-video" width="640" height="360" src="https://www.youtube.com/embed/{{post.video.videoId}}" frameborder="0" allowfullscreen></iframe>
            {% endif %}
-->
            <p>{{post.content}}</p>
            <hr/>
          </div>
          <h5 class="head-title">Comments</h5>
          <ul class="list-unstyled comments">
          {% for comment in post.comments %}
              <li class="comment">
                <p>
                  <strong>{{comment.user}}</strong> <em>said</em>: {{comment.text}}<br/>{{comment.date}}
                  <strong><span id="comment-{{comment.pk}}-likes-counter">{{comment.likes}}</span></strong> people liked this. <button class="btn btn-default like" onclick="likePost('{{comment.pk}}', 'comment')"> <i class="glyphicon glyphicon-heart red-text"></i> like</button>
                </p>
              </li>
          {% endfor %}
          </ul>
        </div>
      </div>
      <div id="column-two" class="col-md-3">
        <div class="box wrap-vid shadowed">
          <h5>{{post.title}}</h5>
          <p>ID: {{id}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $("")
</script>
{% endblock %}
