{% extends 'campaign/layout.html' %}
{% load markdown_deux_tags %}
{% block content %}
  <div class="row">
    <div id="main-content"><!-- background not working -->
      <div id="column-one" class="col-md-12">
        <div class="box wrap-vid column-1">
          <h5 class="indent-from-left2">{{pageheader}}</h5>
          <br/>
          {% if request.session.language = "so" %}
            {% if not posts %}<p>Wili wax munaasabada ah lama soo gelin.</p>{% endif %}
          {% else %}
            <br/>
            {% if not posts %}<p>No events added yet</p>{% endif %}
          {% endif %}
          {% for post in posts %}
          <a href="{% url 'details' pk=post.pk %}">
            <h5>{{post.title}}</h5>
          </a>
            <p>
              {{post.description|slice:"0:100:"}}<br/>
              Date: <strong>{{post.published_date}}</strong> | Likes: <strong>{{post.likes}}</strong> | By: <strong>{{post.author}}</strong>
            </p>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
<script>
  comment_url = "/comment/{{post.pk}}"
</script>
{% endblock %}
