{% load staticfiles %}
{% block featured %}
<div class="featured container">
  <div class="row">
    <div class="col-sm-8">
      <!-- Carousel -->
      {% if featured_items %}
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          {% for item in featured_items %}
          <div class="item {% if item == featured_items.0 %}active{% endif %}">
            <div class="carsl-image image-container" style="background-image: url(media/{{item.featured_image.photo}})">
              <!--<img src="media/{{item.featured_image.photo}}" alt="First slide">-->
            </div>
            <!-- Static Header -->
            <div class="header-text hidden-xs">
              <div class="col-md-12 text-center">
                <h3>
                  <a href="/post/{{item.pk}}">{{item.title|slice:"0:22:" }}...</a>
                </h3>
                <br>
                <h5 class="shadowed-text">{{item.description|slice:"0:100:"}}...</h5>
                <br>
              </div>
            </div><!-- /header-text -->
          </div>
          {% endfor %}
        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div><!-- /carousel -->
    </div>
    <div class="col-sm-4" >

      <div id="owl-demo-1" class="owl-carousel">

        {% for item in featured_items %}
          <a href="/posts/{{item.pk}}">
            <div class="carsl-image-small image-container" style="background-image: url(media/{{item.featured_image.photo}})">

            </div>
          </a>
        {% endfor %}

      </div>

      <a href="/post/{{item.pk}}">
        <div class="carsl-image-small image-container" style="background-image: url(media/{{featured_items.1.featured_image.photo}})" >

        </div>
      </a>
      {% else %}
      <div class="text text-info">
        <strong>{% if request.session.language = "so" %}Waan kaxunnahay!</strong> Wax warbixinno ah oo halkan lagu soo bandhigo malaha. Waxaan kuu balan qaadaynaa in dhawaan warbixinno aad jeclaan doonto halkan kugu soo bandhigno. Mahadsanid.{% else %}Sorry!</strong> There is no posts to show here. We regret this to happen and we promise you to fill here with posts you like very soon.{% endif %}.
      </div>
      {% endif %}
    </div>

  </div>
</div>
{% endblock %}
