{% extends 'campaign/layout.html' %}
{% load markdown_deux_tags %}
{% block content %}
  <div class="row">
    <div id="main-content"><!-- background not working -->
      <div id="column-one" class="col-md-12">
        <div class="box wrap-vid column-1">
          {% if request.session.language = "so" %}
            <h1>Dhamaan</h1>
            {% if not posts %}<p>Wili wax warbixinno ah lama soo gelin.</p>{% endif %}
          {% else %}
            <h1>Feed</h1>
            {% if not posts %}<p>No posts added into the feed yet</p>{% endif %}
          {% endif %}

          {% for post in posts %}
          <a href="{% url 'details' pk=post.pk %}">
            <h5>{{post.title}}</h5>
          </a>
            <p>
              {{post.description|slice:"0:100:"}}<br/>
              Date: <strong>{{post.published_date}}</strong> | Likes: <strong>{{post.likes}}</strong> | By: <strong>{{post.author}}</strong>
            </p>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
