{% extends 'campaign/layout.html' %}
{% block content %}
  <div class="row">
    <div id="main-content"><!-- background not working -->
      <div id="column-one" class="col-md-9">
        <div class="box wrap-vid">
          <div class="post-detail">
            <h1>{% if request.session.language = "so" %}Dib usoo cesho Ereyreedka{% else %}Reset Password{% endif %}</h1>

              {% if forgotpasswordform %}
              <!-- ############# LOGGIN FORM ############### -->
              <div id="login-area">
                {% if forgotpasswordform.errors %}
                    {% for error in forgotpasswordform.non_field_errors %}
                        <div class="alert alert-error">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}
                <form	method="POST"	class="form loginform" id="forgotpasswordform">{%	csrf_token	%}
                  <div class="fieldWrapper">
                    <label for="id_email">{% if request.session.language == "so" %}Email-ka:{% else %}Email:{% endif %}</label>
                    {{forgotpasswordform.email}}
                    {% for err in forgotpasswordform.email.errors %}
                      <div class="alert alert-danger">
                        <strong>{{err|escape}}</strong>
                      </div>
                    {% endfor %}
                  </div>
                  <button	type="submit"	class="btn btn-primary btn-block">{% if request.session.language == "so" %}Bedel ereysireedkeyga{% else %}Reset my password{% endif%}</button>
                </form>
              </div>
              {% endif %}

            <hr/>
          </div>
        </div>
      </div>
      <div id="column-two" class="col-md-3">
        <div class="box wrap-vid">
          {% include "campaign/partials/sidebar.html" %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
