{% load staticfiles %}
{% block header %}

<!--Top-->
<nav id="top">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <strong>{% if request.session.language = "so" %}Waaga cusub ee u curtay Ummadda Soomaaliyeed!{% else %}New dawn for Somali people!{% endif %}</strong>
      </div>
      <div class="col-md-6">
        <ul class="list-inline top-link link">
          {% if request.session.language = "so" %}{% else %}{% endif %}
          <li><a href="/"><i class="fa fa-home"></i>{% if request.session.language = "so" %}Hoyga{% else %}Home{% endif %}</a></li>
          <li><a href="/contact"><i class="fa fa-comments"></i> {% if request.session.language = "so" %}Xiriirada{% else %}Contacts{% endif %}</a></li>
          <li><a href="/feedback"><i class="fa fa-question-circle"></i> {% if request.session.language = "so" %}Soo Dir Warcelin{% else %}Send Feedback{% endif %}</a></li>
          <li><a href="/faq"><i class="fa fa-question-circle"></i> {% if request.session.language = "so" %}Su'aalo{% else %}FAQ{% endif %}</a></li>
          <li><a href="/language/{% if request.session.language == 'so'%}en{% else %}so{% endif %}"><i class="fa fa-question-circle"></i> {% if request.session.language = "so" %}English{% else %}Af Soomaali{% endif %}</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<!--Navigation-->
  <nav id="menu" class="navbar container">
  <div class="navbar-header">
    <button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"><i class="fa fa-bars"></i></button>
    <a class="navbar-brand" href="/">
      <div class="logo"><img href=""><span>Hal Qaran</span></div>
    </a>
  </div>
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <li><a href="/"><i class="fa  fa-home"></i> {% if request.session.language = "so" %}Hoyga{% else %}Home{% endif %}</a></li>
      <li><a href="/issues"><i class="fa fa-list"></i> {% if request.session.language = "so" %}Arimaha{% else %}Issues{% endif %}</a></li>
      <li><a href="/feed"><i class="fa fa-feed"></i> {% if request.session.language = "so" %}Dhamaan{% else %}Feed{% endif %}</a></li>
      <li><a href="/events"><i class="fa fa-calendar"></i> {% if request.session.language = "so" %}Dhacdooyinka{% else %}Events{% endif %}</a></li>
      <li><a href="/about"><i class="fa fa-institution"></i> {% if request.session.language = "so" %}Ku Saabsan{% else %}About{% endif %}</a></li>

      <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {% if request.session.language = "so" %}Xubinnimo{% else %}Membership{% endif %} <i class="fa fa-arrow-circle-o-down"></i></a>
        <div class="dropdown-menu">
          <div class="dropdown-inner">
            <ul class="list-unstyled">
              {% if not user.is_authenticated %}
              <li><a href="/loginpage"><i class="fa fa-user-plus"></i> {% if request.session.language = "so" %}Gal Cinwaankaaga{% else %}Login{% endif %}</a></li>
              {% endif %}
              {% if user.is_authenticated %}
              <li><a href="/logout"><i class="fa fa-user-times"></i> {% if request.session.language = "so" %}Kabax Cinwaankaaga{% else %}Logout{% endif %}</a></li>
              {% endif %}
              {% if not user.is_authenticated %}
              <li><a href="/join"><i class="fa fa-database"></i> {% if request.session.language = "so" %}Is Diiwaangeli{% else %}Register{% endif %}</a></li>
              {% endif %}
            </ul>
          </div>
        </div>
      </li>
<!--
      <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Video <i class="fa fa-arrow-circle-o-down"></i></a>
        <div class="dropdown-menu">
          <div class="dropdown-inner">
            <ul class="list-unstyled">
              <li><a href="archive.html">Text 201</a></li>
              <li><a href="archive.html">Text 202</a></li>
              <li><a href="archive.html">Text 203</a></li>
              <li><a href="archive.html">Text 204</a></li>
              <li><a href="archive.html">Text 205</a></li>
            </ul>
          </div>
        </div>
      </li>
-->
    </ul>
    <ul class="list-inline navbar-right top-social">
      <li><a href="{{my.facebook}}"><i class="fa fa-facebook"></i></a></li>
      <li><a href="{{my.twitter}}"><i class="fa fa-twitter"></i></a></li>
      <li><a href="{{my.googleplus}}"><i class="fa fa-google-plus-square"></i></a></li>
      <li><a href="{{my.youtube}}"><i class="fa fa-youtube"></i></a></li>
      <li><a href="{% url 'loginpage' %}"><i class="fa fa-user"></i></a></li>
    </ul>
  </div>
</nav>
{% endblock %}
