{% extends 'campaign/layout.html' %}
{% load markdown_deux_tags %}
{% block content %}
<!-- /////////////////////////////////////////Content -->
<h5 class="indent-from-left2 light-header">{% if request.session.language == "so" %}Kusoo Dhawoow Hal Qaran{% else %}Welcome to Hal Qaran{% endif %}</h5>
<br/>
<br/>
{% include "campaign/partials/featured3.html" %}
<div class="row">
<div class="col-sm-12">
<a href="http://halqaran.org/about"><h6>DHAQ-DHAQAAQA HAL-QARAN</h6></a>
<p>
<blockquote>
<span class='abouthalqaran'><strong>Hal Qaran</strong> waa dhaq-dhaqaaqa ay u dhan yihiin dhamaan qeybaha kala duwan ee bulshada Soomaliyeed kaas oo hadafkiisu yahay in loo ololeeyo si loo helo dowlad Soomaaliyeed oo leh hiigsi qaranimo oo fog, federal ah, demuquraadi ah, leh awood iyo nidaam isla xisaabtan ku dhisan, kana tarjumeysa danaha fog ee qaranka Soomaaliyeed taas oo keeneysa in la dhiso hey'ado dowladeed oo awood leh sababna u noqon kara horumarka waqti dheer. Dhaqdhaqaaqa <strong>Hal Qaran</strong> waa mid u taagan kasbashada iyo kalsoonida shacabka isla markaana raadinaya in la helo umad <strong>Hal Qaran</strong> ah. 
</span>
</blockquote></p>
</div>
<script>
$("span.abouthalqaran").css('color', '#00CCCC'); //'#DC14AE');
</script>
</div>
{% include "campaign/partials/last_item.html" %}
{% include "campaign/partials/last_videos.html" %}
{% include "campaign/partials/last_items.html" %}


{% endblock %}
