{% load staticfiles %}
{% block last_item %}
  {% if featured_items.0 %}

      {% for item in featured_items|slice:"1:15" %}
      <div class="row">
          <div class="col-sm-12">
            <div style="margin-bottom:.5em;min-height:7em;">
              <img src="media/{{item.featured_image.photo.avatar}}" style="border:1px solid black;margin:.2em;margin-right:.5em;float:left;"/>
              <div class="post-item-label" style="margin-bottom:.2em;">
                <a href="/post/{{item.pk}}">
                <h5 style="margin:0;">{{item.title|slice:"0:60:"}}..</h5>
                </a>
                <p style="margin-bottom:.2em;">
                  {{item.description|slice:"0:200:"}}<br/>
		      <i class="fa fa-pencil"></i> {{item.author}} &nbsp;&nbsp;&nbsp;&nbsp;
	         <i class="fa fa-clock-o"></i> {{item.published_date}} &nbsp;&nbsp;&nbsp;&nbsp;
        	 <i class="fa fa-eye"></i> {{item.view_counter}}


                </p>
              </div>
            </div>

          </div>
        </div>
      {% endfor %}
      <br/>
  {% endif %}
{% endblock %}
