{% load staticfiles %}
{% block last_item %}
  {% if featured_items.0 %}
  <br/>
  <div class="row">

    <div class="col-sm-12">
      <div class="post-item-label" style="box-shadow:-1px 1px 4px lightgray;margin-bottom:.5em;">
        <img src="media/{{featured_items.0.featured_image.photo.avatar}}" style="border:1px solid black;margin:.2em;margin-right:.5em;float:left;"/>
        <div style="margin-bottom:.2em;">
          <a href="/post/{{featured_items.0.pk}}">
          <h5 style="margin:0;">{{featured_items.0.title|slice:"0:40:"}}..</h5>
          </a>
          <p style="margin-bottom:.2em;">
            {{featured_items.0.description|slice:"0:200:"}}<br/>
	    <i class="fa fa-pencil"></i> {{featured_items.0.author}} &nbsp;&nbsp;&nbsp;&nbsp;
            <i class="fa fa-clock-o"></i> {{featured_items.0.published_date}} &nbsp;&nbsp;&nbsp;&nbsp;
            <i class="fa fa-eye"></i> {{featured_items.0.view_counter}}

          </p>
        </div>
      </div>

    </div>
  </div>
  <br/>
  <br/>
  {% endif %}
{% endblock %}
