{% load staticfiles %}
{% block last_images %}

    <div class="row">
      <div class="row container-fluid">
        {% for video in latest_videos|slice:":4" %}
        <div class="col-sm-3" style="margin-bottom:2em;">
          <div class="zoom-container">
            <div class="zoom-caption">
              <span class="youtube">Youtube</span>
              <a href="/watch/{{video.videoId}}">
                <i class="fa fa-play icon-play" style="color: #fff"></i>
              </a>
              <p>{{video.title}}</p>
            </div>
            <img src="http://img.youtube.com/vi/{{video.videoId}}/0.jpg" />

          </div>
        </div>
        {% endfor %}
      </div>
    </div>

{% endblock %}
