{% extends 'campaign/layout.html' %}
{% block content %}
<div id="page-content" class="index-page container">
  <div class="row">
    <div id="main-content"><!-- background not working -->
      <div id="column-one" class="col-md-9">
        <div class="box wrap-vid">
          <div class="post-detail">
            <h1>{% if request.session.language = "so" %}Gelitaanka{% else %}Login{% endif %}</h1>

            {% if not user.is_authenticated %}
              {% if loginform %}
              <!-- ############# LOGGIN FORM ############### -->
              <div id="login-area">
                <form	method="POST"	class="form loginform" action="{% url 'login' %}" id="loginform">{%	csrf_token	%}
                      <label for="id_username">{% if request.session.language = "so" %}Magac-kugalka:{% else %}Username:{% endif %}</label>
                      {{loginform.username}}
                      <p>
                        {% if request.session.language = "so" %}30 xaraf ama kayar. Alifbeeto iyo calaamadahan @/./+/-/_ ayaa la ogolyahay.{% else %}Required. 30 characters or fewer. Letters, digits and @/./+/-/_ only.{% endif %}
                      </p>
                      <label for="id_password">{% if request.session.language = "so" %}Ereysireedka:{% else %}Password:{% endif %}</label>
                      {{loginform.password}}<br>

                      <button	type="submit"	class="btn btn-primary btn-block">{% if request.session.language = "so" %}Gal{% else %}Login{% endif%}</button>
                </form>
              </div>
              {% endif %}
            {% else %}
              <h5>{% if request.session.language = "so" %}{{user.username|title}}! Cinwaankaaga ayaa kacsan{% else %}You are already logged in{% endif %}</h5>
              <p>{% if request.session.language = "so" %}Ma dooneysaa in aad <a href="/logout">kabaxdo</a> cinwaankan?{% else %}Do you want to <a href="/logout">logout</a>?{% endif %}</p>

            {% endif %}

            <hr/>
          </div>
        </div>
      </div>
      <div id="column-two" class="col-md-3">
        <div class="box wrap-vid">
          {% include "campaign/partials/sidebar.html" %}
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $("")
</script>
{% endblock %}
