{% extends 'campaign/layout.html' %}
{% block content %}
<div id="page-content" class="index-page container">
  <div class="row">
    <!--<div id="main-content"> background not working -->
      <div id="column-one" class="col-md-9">
        <div class="box wrap-vid">

          {% if message %}
            <div class="alert alert-{{message.type}}">
              <strong>
                {% if request.session.language = "so" %}{% if message.type = 'danger' %}Cillad{% else %}Fariin:{% endif %}</strong> {{message.so}}{% else %}{% if message.type = 'danger' %}Error{% else %}Info{% endif %}:</strong> {{message.en}}{% endif %}.
            </div>
          {% endif %}
        </div>

      </div>
      <div id="column-two" class="col-md-3">
        <div class="box wrap-vid">
          <h5>Latest on Social Media</h5>
          {% include "campaign/partials/sidebar.html" %}
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $("")
</script>
{% endblock %}
