{% extends 'campaign/layout.html' %}
{% block content %}

  <div class="row">
    <!--<div id="main-content"> background not working -->

        <div class="col-sm-12 box wrap-vid column-1 container">
          <h5 class="indent-from-left2">{{pageheader}} ugu danbeeyay</h5>
          <br/>
          <br/>
            <div class="row">
              <div class="col-sm-12">
                <img id="wide-image-preview" class='img-responsive preview-image-img' src="media/{{photos.0.photo}}" />
                <button class="btn btn-default" disabled="true" id="prev-image">Prev</button>
                <button class="btn btn-default pull-right" id="next-image">Next</button>
              </div>
            </div>
						<div class="row">

                <div class="row container-fluid">
                  {% for image in photos|slice:":50" %}
                  <div class="col-sm-4 thumbnail-container" style="margin-bottom:0;padding:0;"  onclick="showImage('media/{{image.photo}}')">
      		          <div class="">
      		            <div class="">
      		            </div>
      		            <img id="thumb-{{image.pk}}" class="img-responsive"   onclick="showImage('media/{{image.photo}}')" style="min-width:10em;max-width:12.5em;" src="media/{% if image.photo.avatar %}{{image.photo.avatar}}{% else %}{{image.photo}}{% endif %}")/>
                      <span class="hidden" id="image-{{image.pk}}-link" title="media/{{image.photo}}"></span>
      		          </div>
                    <p style="font-size:.8em; min-width:10em;max-width:12.5em;background-color:lightgray;height:4em;overflow:hidden;">{{image.alt|slice:":34"}}</p>
      						</div>

  	              {% endfor %}
                </div>

            </div>
					</div>

    </div>

<script>
  function showImage(url){
    $('#wide-image-preview').attr('src',url);
  }
  $('#next-image').click(function(e) {
    e.preventDefault();

  });

</script>
{% endblock %}
