{% extends 'campaign/layout.html' %}
{% block content %}
  <div class="row">
    <div id="main-content"><!-- background not working -->
      <div id="column-one" class="col-md-12">
        <div class="box wrap-vid">
          <div class="post-detail">

            {% if not user.is_authenticated %}
              <h1>{% if request.session.language = "so" %}Gelitaanka{% else %}Login{% endif %}</h1>
              {% if loginform %}
              <!-- ############# LOGGIN FORM ############### -->
              <div id="login-area">
                <form	method="POST"	class="form loginform" action="{% url 'login' %}" id="loginform">{%	csrf_token	%}
                      <label for="id_username">{% if request.session.language = "so" %}Magac-kugalka:{% else %}Username:{% endif %}</label>
                      {{loginform.username}}
                      <label for="id_password">{% if request.session.language = "so" %}Ereysireedka:{% else %}Password:{% endif %}</label>
                      {{loginform.password}}
                      <button	type="submit"	class="btn btn-primary btn-block">{% if request.session.language = "so" %}Gal{% else %}Login{% endif%}</button>
                </form>
              </div>
              {% endif %}
            {% else %}
              <h5>{% if request.session.language = "so" %}Macluumaadka {{user}}!{% else %}{{user}}'s Profile{% endif %}</h5>

              <div class="row">
                <div class="col-sm-4">
                  <p>
                    {% if request.session.language = "so" %}
                      Name: <strong>{{profile.user.first_name}} {{profile.user.last_name}}</strong> <br>
                      Gender: <strong>{{profile.gender}}</strong> <br>
                      Current location: <strong>{{profile.city_of_residence}}</strong>, <strong>{{profile.current_country.name}}</strong>.<br>
                      Birth place: <strong>{{profile.city_of_birth}}</strong>, <strong>{{profile.region_of_birth}}</strong>.<br>
                      Marital status: <strong>{{profile.marital_status}}</strong>.
                    {% else %}
                      Magagaca: <strong>{{profile.user.first_name}} {{profile.user.last_name}}</strong> <br>
                      Jinsiga: <strong>{{profile.gender}}</strong> <br>
                      Halka aad ku nooshahay: <strong>{{profile.city_of_residence}}</strong>, <strong>{{profile.current_country.name}}</strong>.<br>
                      Halka aad ku dhalatay: <strong>{{profile.city_of_birth}}</strong>, <strong>{{profile.region_of_birth}}</strong>.<br>
                      Xaas ahaanshiyo: <strong>{{profile.marital_status}}</strong>.
                    {% endif %}
                  </p>
                </div>
              </div>

            <hr/>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
