{% extends 'campaign/layout.html' %}
{% block content %}
  <div class="row">
    <div id="main-content"><!-- background not working -->
      <div id="column-one" class="col-md-9">
        <div class="box wrap-vid">
          <div class="post-detail">

            {% if not user.is_authenticated %}
              <h1>{% if request.session.language = "so" %}Gelitaanka{% else %}Login{% endif %}</h1>
              {% if loginform %}
              <!-- ############# LOGGIN FORM ############### -->
              <div id="login-area">
                <form	method="POST"	class="form loginform" action="{% url 'login' %}" id="loginform">{%	csrf_token	%}
                      <label for="id_username">{% if request.session.language = "so" %}Magac-kugalka:{% else %}Username:{% endif %}</label>
                      {{loginform.username}}
                      <label for="id_password">{% if request.session.language = "so" %}Ereysireedka:{% else %}Password:{% endif %}</label>
                      {{loginform.password}}
                      <button	type="submit"	class="btn btn-primary btn-block">{% if request.session.language = "so" %}Gal{% else %}Login{% endif%}</button>
                </form>
              </div>
              {% endif %}
            {% else %}
              <h5>{% if request.session.language = "so" %}Macluumaadka {{user}}!{% else %}{{user}}'s Profile{% endif %}</h5>

              <div class="row">
                <div class="col-sm-4">
                  <p>Name: <strong>{{profile.user.first_name}} {{profile.user.last_name}}</strong></p>
                  <p>Gender: <strong>{{profile.gender}}</strong></p>
                </div>
              </div>

            <hr/>
            {% endif %}
          </div>
        </div>
      </div>
      <div id="column-two" class="col-md-3">
        <div class="box wrap-vid">
          {% include "campaign/partials/sidebar.html" %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
