{% load staticfiles %}
{% block sidebar %}

{% if featured_items %}
<h5 class="head-title" style="margin-top:0;">Latest Posts</h5>
<ul class="list-unstyled latest-posts-titles">
{% for item in featured_items %}
  <li>
    <a href="/post/{{item.pk}}">
      <div class="sect">
        <h6>{{item.title}}</h6>
        <div class="in-sect">
          <p>{{item.content|slice:"0:50:"}}... <span class='read-more'>Read More</span><p>
        </div>
      </div>
    </a>
  </li>
{% endfor %}
</ul>
{% endif %}
{% if not user.is_authenticated %}

{% endif %}

{% if no_twitter = 5 %}
<!-- ############# TWITTER PLUGIN ############ -->
<a class="twitter-timeline" href="https://twitter.com/TwitterDev" data-widget-id="738398786544906240">Tweets by @TwitterDev</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
{% endif %}

<!-- ############# FACEBOOK PLUGIN ############
<div class="fb-post" data-href="https://www.facebook.com/20531316728/posts/10154009990506729/" data-width="150" data-show-text="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/20531316728/posts/10154009990506729/">Posted by <a href="https://www.facebook.com/facebook/">Facebook</a> on&nbsp;<a href="https://www.facebook.com/20531316728/posts/10154009990506729/">Thursday, 27 August 2015</a></blockquote></div></div>
-->
{% endblock %}
