{% load staticfiles %}
{% block sidebar %}
{% if not user.is_authenticated %}
    <a href="/loginpage"><button	type="submit"	class="btn btn-primary btn-block"><i class="fa fa-user"></i> Login</button></a>
    <br>
{% endif %}

{% if no_twitter = None %}
<!-- ############# TWITTER PLUGIN ############ -->
<a class="twitter-timeline" href="https://twitter.com/TwitterDev" data-widget-id="738398786544906240">Tweets by @TwitterDev</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
{% endif %}

<!-- ############# FACEBOOK PLUGIN ############
<div class="fb-post" data-href="https://www.facebook.com/20531316728/posts/10154009990506729/" data-width="150" data-show-text="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/20531316728/posts/10154009990506729/">Posted by <a href="https://www.facebook.com/facebook/">Facebook</a> on&nbsp;<a href="https://www.facebook.com/20531316728/posts/10154009990506729/">Thursday, 27 August 2015</a></blockquote></div></div>
-->
{% endblock %}
