{% extends 'campaign/layout.html' %}
{% block content %}
<div id="page-content" class="index-page container">
  <div class="row">
    <div id="main-content"><!-- background not working -->
      <div id="column-one" class="col-md-9">
        <div class="box wrap-vid shadowed">
          <div class="post-detail">
            <h1>{{video.title}}</h1>
            {% if video.type.pk = 1 %}
              <iframe class="post-video" width="640" height="360" src="https://www.youtube.com/embed/{{video.videoId}}" frameborder="0" allowfullscreen></iframe>
            {% else %}
              <iframe class="post-video" src="https://player.vimeo.com/video/{{video.videoId}}" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            {% endif %}
            <p>{{video.description}}</p>
            <hr/>
          </div>
        </div>
      </div>
      <div id="column-two" class="col-md-3">
        <div class="box wrap-vid shadowed">
          <h5>Latest on Social Media</h5>
          {% include "campaign/partials/sidebar.html" %}
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $("")
</script>
{% endblock %}
