{% load staticfiles %}
<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" type="text/css" href="{% static 'campaign/css/bootstrap.min.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'campaign/css/style2.css' %}" />

  <script src=""{% static 'js/jquery.js' %}"></script>
</head>
<body>
	<div class="header row">
        <div class="main-title col-md-7">
            <div class="name">
                {{web.name}}
            </div>
            <div class="moto">
                {{web.moto}}
            </div>
        </div>
		<div class="menu col-md-5">
            <div class="btn-group pull-right">
                <button type="button" class="btn btn-default">Home</button>
                <button type="button" class="btn btn-default">Speeches</button>
                <button type="button" class="btn btn-default">Political Agenda</button>
                <button type="button" class="btn btn-default">Support us</button>
            </div>
        </div>
	</div>
	<div class="container">
		<div class="content">
			<div class="slide row">
                <div class="slide-img">
                    <img src="images/image4.jpg" class="img-responsive">
                </div>

                <div class="" id="slide-content">
                    <ul class="slide-elements row">
										{% for speech in speeches %}
                        <li class="col-sm-4">
                            <a href="#"><img src="{% static 'campaign/{{speech.image}}.jpg %}" class="img-responsive"></a>
                            <h3>{{speech.title}}</h3>
                            <p>{{speech.description}}</p>
                        </li>
										{% endfor %}
                    </ul>

                </div>
            </div>
            <div class="featured-contents row">
                <div class="col-sm-8">
                    <h1>Speeches</h1>
                    <div class="speech-elements">
                        <div class="speech-element col-sm-3">
                            <img src="images/image1.jpg" class="img-responsive featured-img" alt="speech one">
                            <h3>Speech One Title</h3>
                            <p>Speech One description</p>
                            <p>Date: 01/01/2016</p>
                        </div>
                        <div class="speech-element col-sm-3">
                            <img src="images/image2.jpg" class="img-responsive featured-img" alt="speech one">
                            <h3>Speech One Title</h3>
                            <p>Speech One description</p>
                            <p>Date: 01/01/2016</p>
                        </div>
                        <div class="speech-element col-sm-3">
                            <img src="images/image3.jpg" class="img-responsive featured-img" alt="speech one">
                            <h3>Speech One Title</h3>
                            <p>Speech One description</p>
                            <p>Date: 01/01/2016</p>
                        </div>
                        <div class="speech-element col-sm-3">
                            <img src="images/image4.jpg" class="img-responsive featured-img" alt="speech one">
                            <h3>Speech One Title</h3>
                            <p>Speech One description</p>
                            <p>Date: 01/01/2016</p>
                        </div>

                        <div class="speech-element col-sm-3">
                            <img src="images/image5.jpg" class="img-responsive featured-img" alt="speech one">
                            <h3>Speech One Title</h3>
                            <p>Speech One description</p>
                            <p>Date: 01/01/2016</p>
                        </div>
                        <div class="speech-element col-sm-3">
                            <img src="images/image6.jpg" class="img-responsive featured-img" alt="speech one">
                            <h3>Speech One Title</h3>
                            <p>Speech One description</p>
                            <p>Date: 01/01/2016</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <h1>Featured Articles</h1>

                        <div class="speech-element">
                            <img src="images/image6.jpg" class="img-responsive featured-article-img" alt="speech one">
                            <h3>Speech One Title</h3>
                            <p>Speech One description</p>
                            <p>Date: 01/01/2016</p>
                        </div>
                        <div class="speech-element">
                            <img src="images/image5.jpg" class="img-responsive featured-article-img" alt="speech one">
                            <h3>Speech One Title</h3>
                            <p>Speech One description</p>
                            <p>Date: 01/01/2016</p>
                        </div>
                </div>
            </div>
		</div>
	</div>
	<div class="footer row">
        <div class="col-md-4">
            Col 1
        </div>
        <div class="col-md-4">
            Col 2
        </div>
        <div class="col-md-4">
            Col 3
        </div>
    </div>

    <script>
        $(document).ready(function() {
            var $pic = $('#slide-content a');
            console.log($pic);
        });
    </script>
</body>
</html>
